<!DOCTYPE html>
<html>
<head>
  <title>Notizen App</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Hello :)</h1>
  <form action="/login" method="POST">
    <input type="password" name="password" placeholder="Passwort" required>
    <button type="submit">Bibliothek</button>
  </form>
</body>
</html>
